.App{
  margin: 40px auto;
  padding: 30px;
  box-shadow:0px 0px 5px black;
  /* background-color: red; */
  width: 400px;
  height: fit-content;
  border-radius: 5px;
}

.title{
  text-align: center;
  line-height: 10px;
}

.result{
  width: 100%;
  background-color: aqua;
  height: 100px;
  text-align: center;
  /* padding:10px; */
  padding-top:30px;
  border-radius: 5px;
}


.input{
  display:block;
  margin-top:10px;
}

.input_input{
  width: 100%;
  border-radius: 5px;
  height: 30px;
  margin-top:2px;
}

.input_input:hover{
  background-color: azure;
  height: 35px;
}

.btn_group{
  display: block;
  margin-top:30px;
  text-align: center;
}

.btn{
  padding: 5px;
  margin-top:20px;
  text-align: center;
  border-radius: 5px;
  width: 40%;
  margin: 10px;
  height: 40px;
}

.btn:hover{
  background-color: blue;
  color:white;
}

.icon{
  font-size: 15px;
}

.result_icon{
  font-size: 35px;
}

.App:hover{
  width: 410px;
  height: fit-content;
}

@media (max-width:700px){
  .App{
    /* background-color: red; */
    width: fit-content;
  }
}